@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    font-family: 'arial', sans-serif;
}

.pageLayout {
    width: 100%;
    margin: auto
}

.contentLayout {
    background: white;
    width: 100%;
    max-width: 90%; /* prevent too wide texts on large screens */
    margin: auto;
    padding-top: 2rem;  /*prevent hiding content behind navbar */
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #fabb00 !important;
} 

.css-1a1fmpi-MuiInputBase-root-MuiInput-root:after {
    border-bottom-color: #fabb00 !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #FFE1A4 !important;
}

