@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    font-family: 'arial', sans-serif;
}

.pageLayout {
    width: 100%;
    margin: auto
}

.contentLayout {
    background: white;
    width: 100%;
    max-width: 90%; /* prevent too wide texts on large screens */
    margin: auto;
    padding-top: 2rem;  /*prevent hiding content behind navbar */
}


